@font-face {
  font-family: "ArcadeClassic";
  src: url("/font/arcadeclassic.ttf");
}

body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/trees.jpg");
}

a {
  text-decoration: none;

  &:focus {
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: goldenrod;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background: maroon;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}